@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&display=swap');

:root {
    --text-light:#ABBBC2;
    --text-white:#FFFFFF;

    --secondary-background:#1f1d2b;
    --dark-background:#252836;
    --form-background:#2d303e;
    --popup-background:rgba(0, 0, 0, 0.7);

    --color-secondary:#ea7c69;
    --transparent-background:#50343a;

    --button-primary:#314c4e;
    --button-secondary:#363455;
    --button-warning:#4c3b39;

    --font-xl:28px;
    --font-md:16px;
    --font-lg:20px;
    --font-sm:14px;
    --font-xs:12px;


  }

 
body{
    font-family: 'Barlow', sans-serif !important; 
 
    margin: 0;
    padding: 0;

    background-color: var(--dark-background);
}
body::-webkit-scrollbar{
  width: 0;
  height: 0;
}
  